@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" type="text/css" href="css/site.css" />
</head>

<div class="text-center">
    <h1 class="display-4">Welcome to XL-BYG</h1>
    <p class="colorcoding">Link to XL-byg main page: <br />
       <a href="https://www.xl-byg.dk/">https://www.xl-byg.dk/</a>. </p>
</div>
