@page
@model Projekt_Opgave.Pages.Orders.DeleteOrderModel

<h1 class="colorcoding2">Delete Confirmation</h1>
<div class="alert alert-danger">
    <h5>Are you sure you want to delete Item - @Model.Order.Id</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Item/Order">No</a>
    </form>
</div>
